---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -hicpp-braces-around-statements,
        -readability-braces-around-statements,
        -readability-magic-numbers,
        -readability-identifier-length,
        -cppcoreguidelines-avoid-magic-numbers,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none






